extends layout
block content

    section.container
        h1 Homepage
        p homepage body long text 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea inventore vero ut nulla officia eligendi debitis quaerat enim soluta obcaecati? Quidem nostrum debitis facere laboriosam sunt amet. Aliquid, quia facere.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ipsa soluta aliquam provident ipsum hic, ex sunt ullam velit doloremque reiciendis non esse perspiciatis vitae illo. Natus voluptatum saepe aperiam!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eum voluptates pariatur iste quidem cum numquam nam. Voluptatum recusandae maiores voluptas non in aperiam ex tempora deleniti, error laboriosam hic.